.FeatureProjectCard {
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FeatureProjectCard > ul {
  width: 40%;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.FeatureProjectCard > img {
  width: 400px;
}