.Projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Projects > main {
  height: 85%;
  width: 93%;
  background:
  linear-gradient(175deg, rgb(179, 205, 254), rgba(0,255,0,0) 75%),
  linear-gradient(217deg, rgb(230, 254, 165), rgba(255,0,0,0) 75.71%),
  linear-gradient(95deg, rgb(213, 192, 255), rgba(0,0,255,0) 70.71%),
  linear-gradient(230deg, rgb(253, 169, 130), rgba(0,0,255,0) 100%),
  linear-gradient(216deg, rgb(250, 161, 255), rgba(0,0,255,0) 90.71%);
}

.projectsContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
