.Landing {
  margin-left: 7%;
  padding: 5% 0 3% 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--color-primary-light);
}

.Landing-name {
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: 900;
  font-family: var(--font-heading-primary);
  color: var(--color-primary);
  text-shadow: 3px 5px #e5ccf4,
    4px 6px #e5ccf4,
    5px 7px #e5ccf4,
    6px 8px #e5ccf4;
}

.Landing-title {
  width: 50%;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-family: var(--font-body-primary);
  font-weight: 400;
  color: #C169CD;
  color: #b0c5a6;
  color: var(--color-primary);
}

.Landing-links-container {
  font-size: 1.75rem;
}

.Landing-link {
  font-family: var(--font-body-primary);
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 3px solid var(--color-primary);
}


/* ---------- responsive ---------- */
/* ----- mobile & tablet ----- */
@media (max-width: 1023px) {
  .Landing {
    padding-bottom: 10%;
  }

  .Landing-name {
    font-size: 4rem;
  }

  .Landing-title {
    width: 95%;
    font-size: 1.5rem;
  }

  .Landing-links-container {
    font-size: 1.5rem;
  }
}


/* ----- large laptop ----- */
@media (min-width: 1440px) {
  .Landing {
    margin-left: 10%;
  }
}