.About {
  width: 100%;
  padding: 5% 0 3% 7%;
  border-top: 2px solid var(--color-primary);
  background-color: #fbf5e9;
  display: flex;
  font-size: 22px;
  box-sizing: border-box;
}

.About main {
  padding-bottom: 15%;
}

.About h2 {
  font-size: 2.5rem;
  font-family: var(--font-heading-primary);
  font-weight: 500;
  color: var(--color-primary);
}

.About h2:first-of-type {
  font-size: 3.25rem;
  font-weight: 600;
}

.About p {
  width: 80%;
  font-size: 1.6rem;
  font-family: var(--font-body-primary);
}

.About ul {
  width: 75%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-body-primary);
}

.About li {
  margin: 0 4% 2% 0;
  border: 2px solid #9694a2;
  border-radius: 3px;
  padding: 10px 14px;
  background-color: var(--color-primary-light);
}

.About article {
  height: 27rem;
  width: 35%;
  margin-top: -30%;
  margin-right: 4%;
  padding: 2.5%;
  box-sizing: border-box;
  border: 2px solid #7c701e;
  border-radius: 3px;
  background-color: #efde6c;
  font-family: var(--font-body-primary);
  font-size: 1.75rem;
  position: sticky;
  top: 1.5rem;
}

.About article > p {
  margin: 0;
  font-family: var(--font-heading-primary);
  font-weight: 600;
  font-size: 1.75rem;
}

/* ---------- responsive ---------- */
/* ----- mobile S ----- */
@media (min-width: 320px) {

}

/* ----- laptop ----- */
@media (min-width: 1024px) {

}

/* ----- large laptop ----- */
@media (min-width: 1440px) {
  .About {
    padding: 5% 13% 2% 20%;
  }

  .About article {
    width: 43%;
    height: 31rem;
  }

  .About ul {
    width: 75%;
  }
}