html {
  width: 100%;
}

.Home {
  /* width: 100%; */
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
}

main {
  width: 100%;
}

.intro > p {
  margin-top: 0;
  font-size: large;
}

.Home .blob {
  /* width: 150px; */
  filter: blur(3px);
  opacity: .9;
  top: -40%;
  right: -15%;
}

.blobs-container {
  margin-right: -2%;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  align-items: center;
}

#green-blob {
  /* width: 135px; */
  animation: forwards;
  animation-name: green-hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes green-hover {
  0% {margin-top: -35px}
  50% {margin-top: 0}
  100% {margin-top: -35px}
}

#orange-blob {
  animation-name: orange-hover;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes orange-hover {
  0% {margin-top: 0}
  50% {margin-top: -40px}
  100% {margin-top: 0px}
}

#purple-blob {
  animation-name: purple-hover;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes purple-hover {
  0% {margin-top: -37px}
  50% {margin-top: 0}
  100% {margin-top: -37px}
}

.nav-item:hover {
  letter-spacing: 0rem;
}

#about-component {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* .Home > main { */
  /* border-radius: 5px; */
  /* align-self: center; */
  /* display: flex;
  flex-direction: column; */
  /* background:
  linear-gradient(175deg, rgb(179, 205, 254), rgba(0,255,0,0) 50%),
  linear-gradient(217deg, rgb(230, 254, 165), rgba(255,0,0,0) 70%),
  linear-gradient(95deg, rgb(213, 192, 255), rgba(0,0,255,0) 100%),
  linear-gradient(230deg, rgb(253, 169, 130), rgba(0,0,255,0) 100%),
  linear-gradient(216deg, rgb(250, 161, 255), rgba(0,0,255,0) 50%); */
  /* background:
  linear-gradient(175deg, rgb(179, 205, 254), rgba(0,255,0,0) 75%),
  linear-gradient(217deg, rgb(230, 254, 165), rgba(255,0,0,0) 75.71%),
  linear-gradient(95deg, rgb(213, 192, 255), rgba(0,0,255,0) 70.71%),
  linear-gradient(230deg, rgb(253, 169, 130), rgba(0,0,255,0) 100%),
  linear-gradient(216deg, rgb(250, 161, 255), rgba(0,0,255,0) 90.71%); */
  /* font-family: 'Libre Baskerville', serif;
  font-weight: lighter; */
  /* color: white; */
  /* text-align: center; */
/* } */

/* ---------- responsive ---------- */
/* ----- mobile S ----- */
@media (min-width: 320px) {

}

/* ----- laptop ----- */
@media (min-width: 1024px) {

}

/* ----- large laptop ----- */
@media (min-width: 1440px) {

}