.Contact {
  height: 35rem;
  width: 100%;
  padding: 5% 0 0 0;
  border-bottom: 2px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-body-primary);
  background-color: #fbf5e9;
}

.Contact > h2 {
  margin-bottom: 0;
  font-size: 3rem;
  font-family: var(--font-heading-primary);
  font-weight: 600;
  color: var(--color-primary);
}

.Contact > section {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Contact article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact h3 {
  font-family: var(--font-heading-primary);
  font-weight: 500;
  /* font-style: italic;  */
}

.Contact p {
  font-size: 1.4rem;
}

.socials {
  display: flex;
}

.socials a, .Contact article > p {
  margin: 0 2%;
  height: 60px;
  border: 2px solid var(--color-primary);
  border-radius: 3px;
  box-shadow: .5px 1px 0 0 var(--color-primary),
  1.5px 2px 0 0 var(--color-primary),
  2.5px 3px 0 0 var(--color-primary),
  3.5px 4px 0 0 var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--font-heading-primary);
  font-size: 1.25rem;
}

.Contact article > p {
  width: fit-content;
  padding: 0 35px;
  background-color: #FAE084;
}

.socials a {
  width: 175px;
  display: flex;
  justify-content: space-around;
}

.socials a:nth-child(1) {
  background-color: #ADEDB3;
}

.socials a:nth-child(2) {
  background-color: #A2D7E7;
}



/* ---------- responsive ---------- */
/* ----- large laptop ----- */
@media (min-width: 1440px) {
  .Contact > section {
    width: 55%;
  }
}