.Contact {
  height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  font-family: var(--font-body-primary);
  background-color: #fbf5e9;
}

.Contact > h2 {
  margin-top: 5%;
  font-size: 3rem;
  font-family: var(--font-heading-primary);
  font-weight: 600;
  color: var(--color-primary);
}

.Contact > section {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Contact article {
  display: flex;
}

.Contact h3 {
  font-family: var(--font-heading-primary);
  font-weight: 500;
  /* font-style: italic;  */
}

.Contact p {
  font-size: 1.4rem;
}

.socials {
  display: flex;
}

.socials a, .Contact article > p {
  margin: 0 2%;
  height: 60px;
  width: 150px;
  border: 2px solid var(--color-primary);
  border-radius: 3px;
  box-shadow: .5px 1px 0 0 var(--color-primary),
  1.5px 2px 0 0 var(--color-primary),
  2.5px 3px 0 0 var(--color-primary),
  3.5px 4px 0 0 var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  color: var(--color-primary);
  font-family: var(--font-heading-primary);
  font-size: 1.25rem;
}

.Contact article > p {
  width: fit-content;
  padding: 0 35px;
}

