.social-sidebar, .email-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.social-sidebar {
  left: 20px;
  bottom: 0;
}

.email-sidebar {
  right: 10px;
  bottom: 0;
}

.email-sidebar p {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.decorative-line {
  height: 100px;
  width: 1px;
  background-color: white;
}