body {
  margin: 0;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

/* ----- global variables ----- */
:root {
  --background: #f6f2e7;
  --heading: 'Montserrat Alternates', sans-serif;
  --black-border: 1px solid black;
  --round-border: 20px;
  --work-green: #aaf2a8aa;
  --about-orange: #FEAA63;
  --contact-purple: #C169CD;
}

/* ----- global styles ----- */
:root {
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

.page-title {
  font-family: var(--heading);
  font-weight: 400;
  font-style: italic;
}

.navToHome-link {
  text-decoration: none;
  color: black;
  font-family: var(--heading);
  z-index: 2;
}

#home {
  padding-left: 5px;
  letter-spacing: .5rem;
  transition: all .2s;
}

.navToHome-link:hover #home {
  padding-left: 0;
  letter-spacing: 0rem;
}

/* ----- responsive ----- */
/* mobile S */
@media (min-width: 320px) {
  .page-title {
    font-size: 3rem;
  }
}

/* laptop */
@media (min-width: 1024px) {
  .Work, .About, .Contact {
    width: 100vw;
  }

  .navToHome-link {
    width: 35%;
  }

  .page-title {
    font-size: 6rem;
  }
}

/* large laptop */
@media (min-width: 1440px) {
  .Home, .Work, .About, .Contact {
    width: 1440px;
  }

  .navToHome-link {
    width: 25%;
  }
}

/* ----- custom scrollbar ----- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background); 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}