body {
  margin: 0;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

/* ----- global variables ----- */
:root {
  --background: #f6f2e7;
  --heading: 'Montserrat Alternates', sans-serif;
  --black-border: 1px solid black;
  --round-border: 20px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

/* ----- global styles ----- */
.page-title {
  font-family: var(--heading);
  font-size: 6rem;
  font-weight: 400;
  font-style: italic;
}

.navToHome-link {
  text-decoration: none;
  color: black;
  font-family: var(--heading);
}

#home {
  padding-left: 5px;
  letter-spacing: .5rem;
  transition: all .2s;
}

.navToHome-link:hover #home {
  padding-left: 0;
  letter-spacing: 0rem;
}

/* ----- responsive ----- */
/* tablet */
@media (min-width: 768px) {
  .Work, .About, .Contact {
    width: 100vw;
  }

  .Home {
    width: 80vw;
  }

  .navToHome-link {
    width: 35%;
  }

  .Contact > .navToHome-link {
    width: 100%;
  }

  .Home > main {
    width: 100%;
  }

  /* .menu-section {
    grid-template-columns: 1fr;
  } */
}

/* laptop */
@media (min-width: 1024px) {
  .Work, .About, .Contact {
    width: 100vw;
  }

  .Home {
    width: 80vw;
  }

  .navToHome-link {
    width: 35%;
  }

  .Contact > .navToHome-link {
    width: 100%;
  }

  .Home > main {
    width: 100%;
  }

  /* .menu-section {
    grid-template-columns: 1fr 1fr 1fr;
  } */
}

/* large laptop */
@media (min-width: 1440px) {
  .Home, .Work, .About, .Contact {
    width: 1440px;
  }

  .navToHome-link {
    width: 25%;
  }

  .Contact > .navToHome-link {
    width: 50%;
  }

  .Home > main {
    width: 80%;
  }
}

/* ----- custom scrollbar ----- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background); 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}