header, footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--font-body-primary);
}

/* ---------- header ---------- */
header {
  margin: 1% 5% 0 0;
}

#name {
  width: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* color: #b0c5a6; */
  /* color: #dbded7; */
  /* font-weight: bold; */
  color: var(--color-primary);
}

header > nav {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  font-weight: 400;
}

nav p {
  /* color: #b0c5a6; */
  /* color: #dbded7; */
  color: var(--color-primary);
}

.nav-link {
  text-decoration: none;
}

.nav-item {
  transition: all .2s;
}

.resume-button {
  /* width: 10%; */
  /* border: 1px solid #c3ff63; */
  border: 2px solid var(--color-primary);
  border-radius: 3px;
  padding: 9px 12px;
  /* box-shadow: 5px 5px var(--color-primary); */
  /* box-shadow: 0.5px 1px 0 0 var(--color-primary),
    1.5px 2px 0 0 var(--color-primary),
    2.5px 3px 0 0 var(--color-primary),
    3.5px 4px 0 0 var(--color-primary),
    4.5px 5px 0 0 var(--color-primary),
    5.5px 6px 0 0 var(--color-primary); */
  box-shadow: var(--extended-border);
  /* color: #b0c5a6; */
  /* color: #dbded7; */
  /* background-color: #b0c5a640; */
  background-color: #ebddf7;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.25rem;
}

/* nav > a, header > .link {
  text-decoration: none;
  color: #333;
} */

.initials {
  font-family: 'Libre Baskerville', serif;
  display: block;
  transition: all .2s ease-out;
  /* font-weight: bold;
  font-size: larger; */
  /* font-style: italic; */
  /* color: rgb(137, 178, 253); */
}

.initials:hover {
  transform: scale(1.5, 1.5);
}

/* .initials:hover #M {
  
}

.initials:hover #T {
  
} */


/* ---------- footer ---------- */
footer {
  display: flex;
  flex-direction: column;
}

.footer-message {
  height: 35vh;
  width: 100%;
  border-top: 2px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-message > h1 {
  font-size: 60px;
  font-weight: 700;
  text-shadow: 1px 3px #e5ccf4,
  2px 4px #e5ccf4,
  3px 5px #e5ccf4,
  4px 6px #e5ccf4;
}

.footer-message > p {
  margin: 0;
  padding: 0 7%;
  font-size: 1.15rem;
}

.farewell {
  height: 8vh;
  width: 100%;
  border-top: 2px solid #8a7808;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-family: var(--font-heading-primary);
  font-size: 20px;
  background-color: #fff5b0;
}

.credits {
  height: 7vh;
  width: 100%;
  border-top: 2px solid #986cbb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6cbf4;
}

.credits > a {
  padding-left: 5px;
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

.credits a:first-of-type {
  padding-right: 5px;
}

/* ---------- symbols ---------- */
#name-star {
  padding-right: 10px;
  color: #ff8269;
}

#resume-arrow-icon {
  margin-left: 3px;
}

#footer-stars {
  padding: 0 5px;
}