header, footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--font-body-primary);
}

/* ---------- header ---------- */
header {
  margin: 1% 5% 0 0;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
}

nav p {
  color: var(--color-primary);
}

.nav-link {
  text-decoration: none;
}

.nav-item {
  transition: all .2s;
}

.resume-button {
  height: 1.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 3px;
  padding: 9px 12px;
  box-shadow: var(--extended-border);
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.25rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


/* ---------- footer ---------- */
footer {
  display: flex;
  flex-direction: column;
}

footer .Landing-name {
  margin-top: 0;
}

.footer-message {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-message > h1 {
  font-size: 60px;
  font-weight: 700;
  text-shadow: 1px 3px #e5ccf4,
  2px 4px #e5ccf4,
  3px 5px #e5ccf4,
  4px 6px #e5ccf4;
}

.footer-message > p {
  margin: 0;
  padding: 0 7%;
  font-size: 1.15rem;
}

.farewell {
  height: 8vh;
  width: 100%;
  border-top: 2px solid #8a7808;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-heading-primary);
  font-size: 20px;
  background-color: #fff5b0;
}

.credits {
  height: 7vh;
  width: 100%;
  border-top: 2px solid #986cbb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6cbf4;
}

.credits > a {
  padding-left: 5px;
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

.credits a:first-of-type {
  padding-right: 5px;
}






/* ---------- symbols ---------- */
#name-star {
  padding-right: 10px;
  color: #ff8269;
}

#resume-arrow-icon {
  margin-left: 3px;
}

#footer-stars {
  padding: 0 5px;
}





/* ---------- responsive ---------- */
/* ----- mobile & tablet ----- */
@media (max-width: 1023px) {
  header {
    height: 3.5rem;
    width: 100%;
    margin: 0;
    border: 2px solid var(--color-primary);
    border-right: none;
    border-left: none;
    justify-content: space-evenly;
  }

  header > nav {
    width: 100%;
    justify-content: space-evenly;
  }

  header > nav > .nav-box:nth-child(2) {
    width: 33%;
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
    text-align: center;
  }

  .resume-button {
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
  }

  #view {
    display: none;
  }

  .footer-message {
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
  }

  .footer-message .Landing-name {
    font-size: 2rem;
  }

  .farewell {
    font-size: 18px;
    flex-direction: column;
  }

  #footer-stars {
    display: none;
  }
}

/* ----- laptop ----- */
@media (min-width: 1024px) {
  header > nav {
    width: 30%;
  }

  .resume-button {
    background-color: #ebddf7;
  }

  .footer-message {
    width: 85%;
  }

  .footer-message > p {
    padding-right: 0;
  }
}

/* ----- large laptop ----- */
@media (min-width: 1440px) {
  header > nav {
    width: 25%;
  }

  .footer-message {
    width: 80%;
  }
}