.ProjectCard {
  margin: 10px;
  box-sizing: border-box;
  /* border: .5px solid; */
  border: 1px solid;
  border-radius: 20px;
  /* padding: 15px; */
  /* width: 500px; */
  /* background-color: rgba(240, 255, 255, 0.5); */
  /* display: flex; */
  transition: all .3s;
}

.ProjectCard:hover {
  /* border: 1px solid plum; */
  /* background-color: #aaeca5c7; */
  background-color: #aaf2a8aa;
}

.ProjectCard:hover .project-name {
  /* border: 1px solid plum; */
  border: 1px solid black;
}

.ProjectCard > .project-name {
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 5px;
  width: fit-content;
  border: 1px solid var(--background);
  border-radius: 20px;
  font-family: var(--heading);
  font-weight: 500;
  font-style: italic;
  position: relative;
  top: -30px;
  left: 30px;
  background-color: var(--background);
  transition: all .3s;
}

.project-description {
  margin: -20px 20px 10px 20px;
  cursor: default;
}

.ProjectCard ul {
  padding: 0;
  display: flex;
}

.ProjectCard:hover .tag {
  background-color: var(--background);
  border: 1px solid black;
}

.ProjectCard .tag {
  /* margin: 0 5px 0 0; */
  /* padding: 5px 10px; */
  margin: 0 3px;
  /* padding: 3px 6px; */
  padding: 3px 7px;
  width: fit-content;
  border-radius: 20px;
  border: 1px solid var(--background);
  /* border: 1px solid #aaf2a8aa; */
  background-color: rgba(210, 180, 140, 0.812);
  list-style: none;
  cursor: default;
  transition: all .3s;
}

.ProjectCard > img {
  width: 400px;
}

.tags-and-links-container {
  margin: 0 25px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-container {
  width: 33%;
  display: flex;
  justify-content: space-between;
}

.link {
  margin-left: 5px;
  margin-right: -5px;
  text-decoration: none;
  color: black;
  font-family: var(--heading);
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.link:hover + .arrow {
  top: -5px;
}

.arrow {
  margin-left: 10px;
  position: relative;
}