.ProjectCard {
  box-sizing: border-box;
  width: 47%;
  margin-bottom: 5%;
  border: 2px solid #2e424d;
  border-radius: 10px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  /* position: relative; */
  /* background-color: rgba(167, 173, 253, 0.425); */
  /* text-align: end; */
  /* box-shadow: var(--extended-border); */
  box-shadow: 0.5px 1px 0 0 #2e424d,
  1.5px 2px 0 0 #2e424d,
  2.5px 3px 0 0 #2e424d,
  3.5px 4px 0 0 #2e424d,
  4.5px 5px 0 0 #2e424d,
  5.5px 6px 0 0 #2e424d;
  font-family: var(--font-body-primary);
  position: relative;
}

.project-name {
  margin: 0;
  font-size: 2rem;
  font-family: var(--font-heading-primary);
  font-weight: 500;
  color: var(--color-primary);
}

.img-overlay-pair {
  position: relative;
}

.ProjectCard img {
  /* margin-right: 5%; */
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  /* width: 50%; */
  /* border-radius: 5px; */
  object-fit: cover;
  object-position: top;
  /* position: relative; */
  z-index: 1;
  filter: grayscale(100%);
}

#sunburst {
  height: 125px;
  width: 125px;
  border: none;
  border-radius: 0;
  filter: grayscale(0);
  /* position: absolute; */
  top: -10%;
  left: 52%;
  z-index: 2;
}

.img-overlay {
  height: 115px;
  width: 115px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: #ebddf7d1;
  position: absolute;
  z-index: 2;
}

.img-name-links-group {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
}

.img-name-links-group .link, .img-name-links-group .arrow {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-primary);
  border-bottom: 2px solid #2e424d;
}

.name-links-group {
  width: 100%;
  display: flex;
  flex-direction: column  ;
  justify-content: space-between;
  align-items: start;
}

.links-container {
  margin: 5% 0 3% 0;
  /* width: 40%; */
  display: flex;
  justify-content: space-between;
}

.link-and-arrow-pair {
  margin-right: 20px;
}

.project-description {
  font-size: 20px;
}

.tags-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.tags-list > .tag {
  margin: 0 4px;
  border: 2px solid #2e424d;
  border-radius: 25px;
  padding: 7px 12px;
  list-style: none;
  background-color: #ebddf7;
}

.sun-plus-text-container {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.sun-plus-text {
  height: 125px;
  width: 125px;
  position: relative;
  text-align: center;
  transform: rotate(-15deg);
}

.sun-plus-text > p {
  margin: 0;
  position: absolute;
  top: 27%;
  left: 15%;
  font-family: var(--font-heading-primary);
  font-size: 20px;
}


/* ---------- responsive ---------- */
/* ----- large laptop ----- */
@media (min-width: 1440px) {
  .ProjectCard {
    width: 48%;
  }
}