.Work {
  height: fit-content;
  width: 100%;
  padding: 5% 0;
  border-top: 2px solid #986cbb;
  border-bottom: 2px solid #986cbb;
  background-color: #e6cbf4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Work > h2 {
  margin: 0;
  padding-bottom: 5%;
  font-size: 3.25rem;
  font-family: var(--font-heading-primary);
  font-weight: 600;
  color: var(--color-primary);
}

.Work > #projects-section {
  margin: 0 5% 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Work > .titleAndImage-section {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: flex-end; */
  position: relative;
  overflow: hidden;
}

.titleAndImage-section > .page-title {
  margin: 0;
  z-index: 2;
}

.project-image-container {
  height: 350px;
  width: 450px;
  z-index: 3;
}

.project-image-container > #project-image {
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}

/* ---------- responsive ---------- */
/* ----- mobile S ----- */
@media (min-width: 320px) {

}

/* ----- laptop ----- */
@media (min-width: 1024px) {

}

/* ----- laptop L ----- */
@media (min-width: 1440px) {
  .Work {
    /* padding: 5% 5% 2% 5%; */
  }

  #projects-section {
    padding: 0 5% 0 5%;
  }
}