.Work {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background);
}

.Work > .titleAndImage-section {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: flex-end; */
}

.titleAndImage-section > .page-title {
  margin: 0;
}

.project-image-container {
  height: 350px;
  width: 450px;
}

.project-image-container > .project-image {
  margin-left: 20%;
  height: 350px;
  width: 450px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}

.Work > .projects-section {
  padding-top: 8px;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5%;
}